/**
 * Import fonts either via @import url (e.g. from Googlee Fonts)
 * or via @font-face when font files are stored locally in /app/fonts
 */


@font-face {
    font-family: 'Gotham';
    src: url(../fonts/gotham-light.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}