<ion-view>
    <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-navicon" style="display: block;color:#000;" menu-toggle="left"></button>
        <h1 class="title">Coupon Design</h1>
    </ion-header-bar>
    <!-- <ion-content class="redapp_bg"> -->
        <ion-content class="share_background">
            <div class="row">
                <div class="col">
                    <div class="piza_coupon">
                        <h1>DOMINO PIZZAS </BR>20% OFF</h1>
                        <p>ON PURCHASE OF $ 100 OR MORE</p>
                        <h2>0001-1234</h2>
                        <h4>Redeemable at</h4>
                        <h5>Domino Outlet, 65 Smitham Cape Suite 063</h5>
                        <h5>Phone:+91 9991299912</h5>
                        <h5>City:Manchester,United Kingdom</h5>
                        <h5>Valid Date:27/10/2016 to 01/01/2017</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col piza_screen">
                    <h2>Coupon Status:<span>Not Activated</span></h2>
                    <p>To activate this coupon please forward it to atleast one of your Contacts on Whatsaap.</p>
                </div>
            </div>
            <div class="row">
                <div class=" col whtasapp text-center">
                    <button class="button"><span><img src="images/ic_whatsapp@x.png"></span>Share on Whatsapp</button>
                    <p>Optionally,please share the coupon and social media</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center eleps_icon">
                    <img src="images/ic_face@2x.png">
                </div>
                <div class="col text-center eleps_icon">
                    <img src="images/ic_twitter@2x.png">
                </div>
                <div class="col text-center eleps_icon">
                    <img src="images/ic_instagram@2x.png">
                </div>
            </div>
        </ion-content>
        <div class="bar bar-footer padding_remove gernate_edit ">
            <div class="row padding_remove">
                <div class="padding_remove edit">
                    <a href="#">EDIT</a>
                </div>
                <div class="gernate">
                    <a href="#">GENERATE COUPON</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
