<ion-view>
    <ion-header-bar align-title="center">
        <button ui-sref="app.dashboard" class="button button-clear button-light icon-left ion-chevron-left"></button>
        <button class="button button-icon icon ion-navicon" style="display: block;color:#000;" menu-toggle="left"></button>
        <h1 class="title">Coupon Preview</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col text-center">
                <div class="logo">
                    <img src="images/redlogo@x.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="heading_top">
                    <h1>{{camp_data.business_name?camp_data.business_name:camp_data.cp_name}}</h1>
                    <p>Valid date: {{getDateFormally(camp_data.start_date)}} to {{getDateFormally(camp_data.end_date)}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>How to Activate</span><br>
                     Click on "Share on Facebook" button</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col Facebook_login text-center padding_remove">
                <button class="button"><span><img src="images/ic_facebooKk@x.png"></span>Sign In with <span>Facebook </span></button>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>Offers</span></p><p>{{camp_data.cp_offer}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>Redeemable At</span>
                    <div ng-if="camp_data.redeemable_at=='location'">
                        <p>{{camp_data.business_address}}</p>
                        <div class="space_city"><p>City:{{camp_data.city}},{{camp_data.state}}</p></div>
                        <p>Phone:{{camp_data.contact ?camp_data.contact:'N/A'}}</p>
                        <p ng-if="camp_data.city"></p>
                    </div>
                    <div ng-if="camp_data.redeemable_at=='online'">
                        <p>{{camp_data.web_address}}</p>
                    </div>
                </div></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>CODE</span> V99VVmH </p>
                    <p><span>STATUS</span> Not Activated</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>Terms & Conditions</span> {{camp_data.cp_terms}}</p>
                </div>
            </div>
        </div>
        </ion-contant>
</ion-view>
