<ion-view>
    <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-navicon" style="display: block;color:#000;" menu-toggle="left"></button>
        <h1 class="title">Dashboard</h1>

          <div class="bar bar-subheader bar-light custom_header">
            <div class="row">
                <div class="col">
                    <div class="plus">
                        <img src="images/ic_newcampaign@2x.png">
                        <h2>NEW</br>CAMPAIGN</h2>
                    </div>
                </div>
                <div class="col">
                    <div class="plus">
                        <img src="images/ic_sendcoupon@2x.png">
                        <h2>SEND</br>COUPON</h2>
                    </div>
                </div>
                <div class="col">
                    <div class="plus">
                        <img src="images/ic_validatecoupon@2x.png">
                        <h2>VALIDATE</br>COUPON</h2>
                    </div>
                </div>
                <div class="col">
                    <div class="plus">
                        <img src="images/ic_managecustomer@2x.png">
                        <h2>MANAGE</br>CUSTOMER</h2>
                    </div>
                </div>
            </div>
        </div>
    </ion-header-bar>

    <ion-content>
            <div class="redapp_bg">

            <div class="row">
                <div class="col text-center blank_body">
                    <h6>You don't have any active campaign</h6>
                    <h6>Create a new campaign to get started</h6>
                </div>
            </div>
            <!--  <div class="bar bar-footer nav_background" ui-sref="app.screen28">
                <div class="row">
                    <div class="col">
                        <div class="foter_menu">
                            <img src="images/ic_help@x.png">
                        </div>
                    </div>
                    <div class="col">
                        <div class="foter_menu">
                            <img src="images/ic_profile@x.png">
                        </div>
                    </div>
                    <div class="col">
                        <div class="foter_main">
                            <img src="images/ic_dashboard@x.png">
                        </div>
                    </div>
                    <div class="col">
                        <div class="foter_menu">
                            <img src="images/ic_notification@x.png">
                        </div>
                    </div>
                    <div class="col">
                        <div class="foter_menu">
                            <img src="images/ic_settings@x.png">
                        </div>
                    </div>
                </div>
            </div> --> 
        </div>
    </ion-content>
</ion-view>
