<ion-view>
    <ion-content class="redapp_bg">
        <div class="row">
            <div class="col">
                <div class="close">
<!--                     <img src="images/cross.png">
 -->                </div>
            </div>
        </div>
        <div class="row">
            <div class="logo_account">
                <a ><img src="images/ic_forgot_password@x.png"></a>
            </div>
        </div>
        <form name="forget_pass">
            <div class="row">
                <div class="col text-center login forgott">
                    <p>Please enter your email.</br> We'll be happy to get you back on track</p>
                    <div class="list">
                        <label class="item item-input user_name">
                            <input type="email" name="forgetEmail" placeholder="Jackson@dumy.com" ng-model="forgetEmail" required>
                        </label>
                    </div>
                </div>
            </div>
            <div class="padding">
                <p ng-show="forget_pass.forgetEmail.$error.required">* Email is required</p>
                <p ng-show="forget_pass.forgetEmail.$invalid && !forget_pass.forgetEmail.$pristine">* Invalid email address</p>
                <p ng-if="res_forget">* {{forgetMessage}}</p>
            </div>
            <div class="row">
                <div class=" col Sign_in text-center padding_remove">
                    <button class="button" ng-click="forget_pass.$valid && send_forgot_email(forgetEmail)"> SUBMIT </button>
                </div>
            </div>
                            <div class="row">
                <div class="col text-center back_home">
                    <a ui-sref="app.home">Back to Home</a>
                </div>
                 </div>
        </form>
    </ion-content>
</ion-view>

