<ion-view class="red_background">
    <ion-content >
        <div class="row">
            <div class="col col-offset-90">
                <a  ng-click="showConfirm()">
                    <div class="hdr_more_button"><img src="images/ic_cross_light@3x.png"></div>
                </a>
            </div>
        </div>
        <div class="row topmargin">
            <div class="col">
                <div class="membership_plan_box">
                    <div class="membership_hding">Select Your Membership Plan</div>
                </div>
            </div>
        </div>

        <div class="row padd_twt">
            <div class="col">
                <div class="membership_plan_box_penal">
                    <h2>Silver@$9.99</h2>
                    <div class ="para_membr_text">• Unlimited coupon creation • Multi channel distribution • Unlimited coupon sharing • Limit number of coupons to be shared • In-Depth Analytics • Email Support</div>
                </div>
            </div>
        </div>

        <div class="row padd_twt">
            <div class="col">
                <div class="membership_plan_box_penal">
                    <h2>Golden@$19.99/month</h2>
                    <div class ="para_membr_text">• Unlimited coupon creation • Multi channel distribution • Unlimited coupon sharing • Limit number of coupons to be shared • In-Depth Analytics • Email Support • Integration with mail Chimp and various SMS service provider 
• Additional discount on sharing feature</div>
                </div>
            </div>
        </div>
        

                <div class="row padd_twt">
            <div class="col">
                <div class="membership_plan_box_penal">
                    <h2>Platinum@$29.99/month</h2>
                    <div class ="para_membr_text">• Unlimited coupon creation • Multi channel distribution • Unlimited coupon sharing • Limit number of coupons to be shared • In-Depth Analytics • Email Support • Integration with mail Chimp and various SMS service provider • Additional discount on sharing feature • Create Sweepstakes • Attach Viral contents with the coupon</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
