<ion-view>
    <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-navicon" style="display: block;color:#000;" menu-toggle="left"></button>
        <h1 class="title">My Profile</h1>
    </ion-header-bar>
    <ion-content class="redapp_bg11">
        <div class="row padding_remove margin_top" ng-if="user_data">
            <div class="col padding_remove text-center active_coupon_view_box">
            	<h3 class="myprofile_heading">Name : <strong><span>{{user_data.username}}</strong></h3>
                <h3 class="myprofile_heading">Member Since  : <strong><span>{{getDateFormally(user_data.created)}}</strong></h3>
                <h3 class="myprofile_heading">Membership : <strong><span>{{user_data.m_type+" "}}<a ui-sref="{{changeState}}">{{mType}} Membership</a></strong></h3>
                <h3 class="myprofile_heading">Email Address  : <strong><span>{{user_data.email}}</strong></h3>
                <h3 ng-if="user.user_type=='sys'" class="myprofile_heading">Password : <strong><span>****** <a ui-sref="app.settings">Change Password</a></strong></h3>
                <h3 class="myprofile_heading"><strong><span><a ui-sref="app.business_profile">Business Details</a></strong></h3>
            </div>
        </div>
    </ion-content>
</ion-view>
