<ion-view>
    <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-navicon" style="display: block;color:#000;" menu-toggle="left"></button>
        <h1 class="title">Create Campaign</h1>
        <div class="buttons">
    <i class="icon ion-image custom-icon" ng-click="popover.show($event)"></i>
  </div>
    </ion-header-bar>
    <ion-content class="redapp_bg CAMPAIN">
        <div class="newcampain_PENAL" ng-show="cp_screen_first">
            <form name="campagin_first">
                <div class="row padding_remove">
                    <div class="col padding_remove">
                        <p>Campaign Name</p>
                        <div class="card margin_top">
                            <div class="campagin">
                                <img src="images/ic_coupon_active@x.png">
                                <input type="text" placeholder="Example: WinterVilla" name="cp_name" ng-model="camp_data.cp_name" required>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="new_camp_val" ng-if="campagin_first.cp_name.$touched && campagin_first.cp_name.$invalid">Campaign name is required.</p>
                <div class="row padding_remove">
                    <div class="col padding_remove">
                        <p>Start Date</p>
                        <div class="card margin_top">
                            <div class="campagin">
                                <img src="images/ic_date_active@x.png">
                                <ionic-datepicker idate="camp_data.start_date" disablepreviousdates="true">
                                    <button ng-click="openFromDatePicker()" class="button button-block icon-right ion-ios-arrow-down noBackground" style="color:#fff;"> {{camp_data.start_date | date:'dd-MMMM-yyyy' }}{{!camp_data.start_date?'From':''}} </button>
                                </ionic-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding_remove">
                    <div class="col padding_remove">
                        <p>End date</p>
                        <div class="card margin_top">
                            <div class="campagin">
                                <img src="images/ic_date_active@x.png">
                                <ionic-datepicker idate="camp_data.end_date" disablepreviousdates="true">
                                    <button ng-click="openToDatePicker()" class="button button-block icon-right ion-ios-arrow-down noBackground" style="color:#fff;"> {{ camp_data.end_date | date:'dd-MMMM-yyyy' }}{{!camp_data.end_date?'To':''}} </button>
                                </ionic-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="new_camp_val" ng-show="isToTouched && !camp_data.end_date">End date is required</p>
                <!-- Discount type -->
<!--                 <div class="row padd_NUN">
                    <div class="col disscount padd_NUN">
                        <p class="Discount_type_TEXT">Discount Type</p>
                    </div>
                </div>
                <div class="row padd_NUN botom_mgn">
                    <div class="col padding_remove">
                        <ion-radio name="discount_type_option" ng-model="camp_data.discount_type" ng-value="'price'">$</ion-radio>
                    </div>
                    <div class="col padding_remove">
                        <ion-radio name="discount_type_option" ng-model="camp_data.discount_type" ng-value="'percent'">%</ion-radio>
                    </div>
                    <div class="col padding_remove">
                        <ion-radio name="discount_type_option" ng-model="camp_data.discount_type" ng-value="'free_item'">Free item</ion-radio>
                    </div>
                    <div class="col padding_remove">
                        <ion-radio name="discount_type_option" ng-model="camp_data.discount_type" ng-value="'buy_1_get_1'">Buy 1 Get 1</ion-radio>
                    </div>
                </div>
                <div class="row padding_remove card" ng-if="camp_data.discount_type=='buy_1_get_1'">
                    <div class="col padding_remove flot_pera">
                        <p>Buy</p>
                        <input type="number" name="buy" ng-model="camp_data.buy_value" min="1" required>
                    </div>
                    <div class="col padding_remove flot_pera">
                        <p>Get</p>
                        <input type="number" name="get" ng-model="camp_data.get_value" min="1" required>
                    </div>
                </div>
                <p class="new_camp_val" ng-show="campagin_first.buy.$touched && campagin_first.buy.$error.required">Buy is required</p>
                <p class="new_camp_val" ng-show="campagin_first.buy.$touched && campagin_first.buy.$error.min">Buy should not be less than 1%</p>
                <p class="new_camp_val " ng-show="campagin_first.get.$touched && campagin_first.get.$error.required">Get is required</p>
                <p class="new_camp_val " ng-show="campagin_first.get.$touched && campagin_first.get.$error.min">Get should not be less than 1%</p>
                <div class="row padding_remove " ng-if="camp_data.discount_type=='price' || camp_data.discount_type=='percent'">
                    <div class="col padding_remove">
                        <div class="card margin_top">
                            <div class="campagin">
                                <img ng-src="images/{{camp_data.discount_type=='price'?'ic_discount_amount_active@x.png':'ic_discount_type_active@x.png'}}">
                                <input type="number" placeholder="Discount" name="dis_amount" min="1" ng-model="camp_data.discount_amount" required>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="new_camp_val" ng-show="campagin_first.dis_amount.$touched && campagin_first.dis_amount.$error.required">Discount amount is required</p>
                <p class="new_camp_val" ng-show="campagin_first.dis_amount.$touched && campagin_first.dis_amount.$error.min">Discount amount should not be less than 1%</p> -->
                <div class="row padding_remove">
                    <div class="col padding_remove">
                        <p class="Discount_type_TEXT">Offer</p>
                        <div class="campagin_INFO_HEIGHT margin_top">
                            <div class="campagin_INFO TEXT_ARARARA">
                                <textarea class="text_box_area" rows="6" cols="21" placeholder="Example: 20% OFF on oil change" ng-model="camp_data.cp_offer" name="camp_offer" required></textarea>
                                <!-- <input type="text area" name="cp_info" ng-model="camp_data.cp_info"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding">
                    <p class="new_camp_val" ng-if="campagin_first.camp_offer.$touched && campagin_first.camp_offer.$invalid">Offer is required.</p>
                </div>
                <div class="row padding_remove">
                    <div class="col padding_remove">
                        <p class="Discount_type_TEXT">Terms & Conditions</p>
                        <div class="campagin_INFO_HEIGHT margin_top">
                            <div class="campagin_INFO TEXT_ARARARA">
                                <textarea class="text_box_area" rows="6" cols="21" placeholder="Please Enter Text.." ng-model="camp_data.cp_terms" name="camp_terms" required></textarea>
                                <!-- <input type="text area" name="cp_terms" ng-model="camp_data.cp_terms"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding">
                    <p class="new_camp_val" ng-if="campagin_first.camp_terms.$touched && campagin_first.camp_terms.$invalid">Terms & Conditions is required.</p>
                </div>
            </form>
            <div class="row padding_remove">
                <div class="col  new_back_create padding_remove">
                    <button class="button" ng-click="campagin_first.$valid && camp_data.end_date && createCampaign()">Create Campaign</button>
                    <center>
                    <p class="new_camp_val" ng-if="campagin_first.$invalid || !camp_data.end_date">Please fill all required fields.</p>
                    </center>
                </div>
            </div>
        </div>
    </ion-content>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
     <ion-content>
        <div class="row">
            <div class="col text-center">
                <div class="logo">
                    <img src="images/redlogo@x.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="heading_top">
                    <h1>{{camp_data.business_name?camp_data.business_name:camp_data.cp_name}}</h1>
                    <p>Valid date: {{getDateFormally(camp_data.start_date)}} to {{getDateFormally(camp_data.end_date)}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>How to Activate</span><br>
                     Click on "Share on Facebook" button</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col Facebook_login text-center padding_remove">
                <button class="button"><span><img src="images/ic_facebooKk@x.png"></span>Sign In with <span>Facebook </span></button>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>Offer</span></p> <p>{{camp_data.cp_offer}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>Redeemable At</span>
                    <div ng-if="camp_data.redeemable_at=='location'">
                        <p>{{camp_data.business_address}}</p>
                        <div class="space_city"><p>City:{{camp_data.city}},{{camp_data.state}}</p></div>
                        <p>Phone:{{camp_data.contact ?camp_data.contact:'N/A'}}</p>
                        <p ng-if="camp_data.city"></p>
                    </div>
                    <div ng-if="camp_data.redeemable_at=='online'">
                        <p>{{camp_data.web_address}}</p>
                    </div>
                </div></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>CODE</span> XXXXXX </p>
                    <p><span>STATUS</span> Not Activated</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>Terms & Conditions</span> {{camp_data.cp_terms}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="card custom_crd">
                <div class="item-text-wrap">
                    <p><span>Additional Text</span> {{camp_data.cp_offer}}</p>
                </div>
            </div>
        </div> -->
        </ion-contant>
      </ion-popover-view>
    </script>
</ion-view>
