<ion-content class="">
    <div class="row grid_padd_logo">
        <div class="logo_account">
            <a href=""><img src="images/redlogo@x.png"></a>
        </div>
    </div>
    <div class="new_LOGIN_PENAL_MAIN">
        <form name="myform" class="new_LOGIN_PENAL">
            <!--             <div class="row grid_padd">
                <div class="col text-center login">
                    <div class="list">
                        <label class="item item-input">
                            <input type="email" required name="email" placeholder="Email" ng-model="email">
                        </label>
                        <label class="item item-input">
                            <input type="password" required name="password" placeholder="Password" ng-model="password">
                        </label>
                    </div>
                </div>
            </div> -->
            <div class="row grid_padd">
                <div class=" col Facebook text-center">
                    <button class="button" ng-click="facebookLogin()"><span><img src="images/ic_facebooKk@x.png"></span>Sign In with <span>Facebook </span></button>
                </div>
            </div>
            <div class="row grid_padd_NEWOR">
                <div class=" col">
                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                    </div>
                </div>
            </div>
            <div class="row grid_padd">
                <div class=" col Sign_in text-center">
                    <button class="button" ng-click="">SIGN IN</button>
                </div>
                <div class=" col Sign_UP text-center">
                    <button class="button" ng-click="">SIGN UP</button>
                </div>
            </div>
        </form>
    </div>
</ion-content>
