<ion-view>
    <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-navicon" style="display: block;color:#000;" menu-toggle="left"></button>
        <h1 class="title">Payment</h1>
    </ion-header-bar>
    <ion-content class="red_background">
        <div ng-show="!isloading && !isPaidUser">
            <div class="row">
                <div class="col">
                    <div class="membership_plan_box">
                        <div class="membership_hding">Select Your Membership Plan</div>
                    </div>
                </div>
            </div>
            <div class="row padd_twt">
                <div class="col">
                    <div class="membership_plan_box_penal" ng-click="makePayment('Silver',9.99)">
                        <h2>Silver@$9.99</h2>
                                            <div class ="para_membr_text">
                        <ul class="PAYMENT_PAGE_LIST">
                            <li>Unlimited coupon creation</li>
                            <li>Multi-channel distribution</li>
                            <li>Unlimited Coupon Sharing</li>
                            <li>Limit number of coupons to be shared</li>
                            <li>In-Depth Analytics</li>
                            <li>Email Support</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row padd_twt">
                <div class="col">
                    <div class="membership_plan_box_penal" ng-click="makePayment('Gold',19.99)">
                        <h2>Golden@$19.99/month</h2>
                        <div class ="para_membr_text">                        
                        <ul class="PAYMENT_PAGE_LIST">
                            <li>All features of Silver Plan</li>
                            <li>Additional discount on coupon sharing feature</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row padd_twt">
                <div class="col">
                    <div class="membership_plan_box_penal" ng-click="makePayment('Platinum',29.99)">
                        <h2>Platinum@$29.99/month</h2>
                        <div class ="para_membr_text">                        
                        <ul class="PAYMENT_PAGE_LIST">
                            <li>All features of Gold Plan</li>
                            <li>Create Sweepstakes</li>
                            <li>Integration with mail chimp and other popular SMS service providers</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--    <div class="row">
                <div class="col text-center make">
                    <button type="button " ng-click="makePayment('Silver',9.99)"> Silver<span>$9.99 USD - monthly</span> </button>
                </div>
            </div>
            <div class="row">
                <div class="col text-center make">
                    <button type="button " ng-click="makePayment('Gold',19.99)"> Gold<span>$19.99 USD - monthly</span></button>
                </div>
            </div>
            <div class="row">
                <div class="col text-center make">
                    <button type="button " ng-click="makePayment('Platinum',29.99)">Platinum<span>$29.99 USD - monthly</span></button>
                </div>
            </div> -->
        </div>
        <div ng-show="!isloading && isPaidUser" class="padding">
            <p class="center due_payment_penal">Your payment due date is {{dueDate}}</p>
        </div>
    </ion-content>
</ion-view>
