<ion-view>
    <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-navicon" style="display: block;color:#000;" menu-toggle="left"></button>
        <h1 class="title">Distribute Coupon</h1>
    </ion-header-bar>
    <ion-content class="redapp_bg padd_ENDCPN ">
        <div class="newCAPNAIN_BOXX">
            <div class="row padding_remove">
                <div class="col padding_remove">
                    <h5 class="WANT_SHARE">Select Campaign</h5>
                    <div class="card margin_top">
                        <div class="campagin">
                            <img src="images/ic_coupon_active@x.png">
                            <select ng-options="item as item.cp_name for item in user_camp_data.campaigns track by item.id" ng-model="selectedCamp"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding_remove">
                <div class="col padding_remove">
                    <h5 class="WANT_SHARE">How do you want to Share Coupon?</h5>
                </div>
            </div>
            <div class="row padding_remove">
                <div class="col  share" ng-click="shareCoupon('whatsapp')">
                    <img src="images/ic_whatsapp@2x.png">
                </div>
                <div class="col share">
                    <img src="images/ic_email_icon@2x.png" ng-click="shareCoupon('email')">
                </div>
                <div class="col share">
                    <img src="images/ic_texticon@2x.png" ng-click="shareCoupon('sms')">
                </div>
            </div>
            <!--         <div class="row padding_remove">
            <div class="col text-center SEND_TO_CALL padding_remove">
                <button type="button" ng-click="showShareActions()">SEND TO ALL CUSTOMERS</button>
            </div>
        </div> -->
            <!-- <div class="row padding_remove">
                <div class="col text-center SEND_TO_CALL">
                    <hr>
                </div>
            </div>
            <div class="row padding_remove">
                <div class="col padding_remove">
                    <h5 class="WANT_SHARE">Send coupon to new customer</h5>
                </div>
            </div>
            <div class="row padding_remove">
                <div class="col padding_remove">
                    <div class="card margin_top">
                        <div class="campagin lock">
                            <img src="images/ic_name_active@x.png">
                            <input type="text" placeholder="Name (optional)" ng-model="user_name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding_remove">
                <div class="col padding_remove">
                    <h5 class="WANT_SHARE">Send coupon to customer Email</h5>
                </div>
            </div>
            <form name="user_email_form">
                <div class="row padding_remove">
                    <div class="col padding_remove">
                        <div class="card margin_top">
                            <div class="campagin lock">
                                <img src="images/ic_email_active@x.png">
                                <input type="email" placeholder="Email" ng-model="user_email" required>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="new_camp_val" ng-if="showEmailErr && user_email_form.$invalid">Invalid email address.</p>
                <div class="ADD_CUSTOMER SENDCOPEN">
                    <div class="row padding_remove">
                        <div class="col padding_remove">
                            <button type="button" ng-click="(showEmailErr = true) && user_email_form.$valid && send_email(user_name,user_email)">SEND COUPON</button>
                        </div>
                    </div>
                </div>
            </form> -->
        </div>
        <!-- <div class="newCAPNAIN_BOXX margin_BOTOM">
            <form name="user_contact_form">
                <div class="row padding_remove">
                    <div class="col padding_remove">
                        <div class="NEWCOPUEN-or">
                            <hr class="hr-or">
                            <span class="span-or_new">or</span>
                        </div>
                        <h5 class="WANT_SHARE">Send coupon to customer via whatsapp/text message</h5>
                    </div>
                </div>
                <div class="row padding_remove">
                    <div class="col padding_remove">
                        <div class="card margin_top">
                            <div class="campagin lock">
                                <img src="images/ic_mobile_active@x.png">
                                <input type="text" placeholder="+919991299912" ng-model="user_contact" required>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="new_camp_val" ng-if="showContactErr && user_contact_form.$invalid">Invalid contact number.</p>
                <div class="row">
                    <div class="col share BOTH_SAHRE" ng-click="(showContactErr = true) && user_contact_form.$valid && shareCoupon('whatsapp')">
                        <img src="images/ic_whatsapp@2x.png">
                    </div>
                    <div class="col share BOTH_SAHRE" ng-click="(showContactErr = true) && user_contact_form.$valid && send_message(user_contact)">
                        <img src="images/ic_email_icon@2x.png">
                    </div>
                </div>
            </form>
        
        </div> -->
    </ion-content>
</ion-view>
