<ion-view>
    <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-navicon" style="display: block;color:#000;" menu-toggle="left"></button>
        <h1 class="title">Send Coupon</h1>
    </ion-header-bar>
    <!-- <ion-content class="redapp_bg">
        <div class="row">
            <div class="col send_coupon text-center">
                <label>Select Campaign</label>
                <select ng-options="item as item.cp_name for item in user_camp_data.campaigns track by item.id" ng-model="selectedCamp"></select>
            </div>
        </div>
        <label>Forward Coupon link</label>
        <div class="row">
            <div class="col share">
                <button type="button" ng-click="shareCoupon('whatsapp')">Whatsapp</button>
            </div>
            <div class="col share">
                <button type="button" ng-click="shareCoupon('sms')">SMS</button>
            </div>
            <div class="col share">
                <button type="button" ng-click="shareCoupon('email')">Email</button>
            </div>
        </div>
    </ion-content> -->
    <ion-content class="redapp_bg">
        <div class="row">
            <div class="col send_coupon text-center">
                <label>Select Campaign</label>
                <select ng-options="item as item.cp_name for item in user_camp_data.campaigns track by item.id" ng-model="selectedCamp"></select>
            </div>
        </div>
        <div class="row padding_remove">
            <div class="col text-center SEND_TO_CALL padding_remove">
                <button type="button">SEND TO ALL CUSTOMERS</button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center SEND_TO_CALL">
                <p>OR</p>
            </div>
        </div>
        <div class="row padding_remove">
            <div class="col padding_remove">
                <div class="card margin_top">
                    <div class="campagin lock">
                        <img src="images/ic_mobile_active@x.png">
                        <h3>+919991299912</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col option">
                <a href="#">Optional Details</a>
            </div>
        </div>
        <div class="row padding_remove">
            <div class="col padding_remove">
                <div class="card margin_top">
                    <div class="campagin lock">
                        <img src="images/ic_name_active@x.png">
                        <h3>Customer Name</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding_remove">
            <div class="col padding_remove">
                <div class="card margin_top">
                    <div class="campagin lock">
                        <img src="images/ic_email_active@x.png">
                        <h3>Email</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="bar bar-footer ADD_CUSTOMER">
            <div class="row padding_remove">
                <div class="col padding_remove">
                    <button type="button">ADD CUSTOMER AND SEND COUPON</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
